.site-header, .site-footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

body{
  background: #e8f0fe;
}

.site-header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.site-header nav a:hover {
  text-decoration: underline;
}

.site-footer {
  margin-top: 3rem;
}
/* Auth Button */
.auth-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  min-width: 100px;
}
