/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

/* Navbar Styling */
.navbar {
  background-color: #333;
  padding: 15px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav-list li a:hover {
  background-color: #555;
  color: #fff;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
}

.form-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input,
textarea,
button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem;
  font-size: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}

.auth-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  min-width: 100px;
}

.auth-btn:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

#dishList {
  list-style-type: disc;
  padding-left: 20px;
}
